{% extends 'base.html.twig' %}

{% block title %}Mamoudou{% endblock %}

{% block body %}

<div class="jumbotro text-center">
    <h1>Agence</h1>
</div>
<div class="container">
    <h2>Les derniers biens </h2>
    <div class="row flex">
       {% for property  in properties %}
        <div class="col-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                     
                        <a href="{{ path('pintest.show', {id: property.id}) }}">
                            {{ property.title }}
                        </a>
                     {# <a href="{{ path('pintest.show', {id: property.id, slug: property.slug}) }}"> #}
                     
                    </h5>
                    <p class="card-text">{{ property.city }}  {{ property.postalCode }}</p>
                    <div class="text-primary">{{ property.FormattedPrice }}£</div>
                    
                </div>
            </div>
        </div>
       {% endfor %}     
    </div>
</div>

{% endblock %}
